.App {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.form {
  width: 960px;
}

.editor {
  height: 150px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  margin-bottom: 4px;
  padding: 10px;
}

.tools {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.tools-item {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 440px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  margin-right: 4px;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
}

.title span {
  margin-left: 5px;
}

.tree-list {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

.tree-tools {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  border-top: 1px solid #d9d9d9;
  padding-left: 40px;
}

.checkbox-item {
  margin: 0 !important;
}

.padding-5 {
  padding: 5px;
}

.padding-10 {
  padding: 10px;
}

.tools-item:last-child {
  margin-right: 0px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.footer button {
  margin-left: 10px;
}