.App {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.form {
  width: 960px;
}

.editor {
  height: 140px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  margin-bottom: 4px;
  padding: 5px;
}

.tools {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.tools-item {
  flex: 1;
  height: 440px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  margin-right: 4px;
}

.padding-10 {
  padding: 10px;
}

.tools-item:last-child {
  margin-right: 0px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.footer button {
  margin-left: 10px;
}